* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* LOGO */
  .logo {
    font-family: 'Sofia Pro';
  }

  /* NAVBAR */
  .navbar {
    background: #000;
    color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar nav a {
    color: black;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-box {
    background: pink;
    color: black;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* BANNER */
  .banner {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url("images/hero.jpg") center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
  }
  
  .banner h1 {
    color: white;
    font-size: 55px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .banner span {
    color: pink;
    font-family: 'publico'  ;
  }
    
  .banner button {
    margin-top: 25px;
    padding: 12px 30px;
    background: pink;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .banner a {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  /* ICON ROW */
  .icon-row {
    background: pink;
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }

  .icon-row div a {
    color: white;
    text-decoration: none;
  }
  
  .icon-box {
    background: black;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 14px;
  }
  
  /* ABOUT */
  .about {
    padding: 50px;
    text-align: left;
  }

  .aboutme {
    padding: 50px;
    text-align: left;
    gap: 20px;
    display: flex;

  }
  
  .subtitle {
    color: pink;
    margin-bottom: 30px;
  }
  
  .about-card {
    background: #f7f7f7;
    padding: 50px;
    width: auto;
    margin-left: 10px;
    border-radius: 20px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  .about img {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 10px;
  }
  
  /* INTERESTS */
  .services {
    background: #111;
    color: white;
    padding: 80px;
  }
  
  .service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
  }
  
  .service {
    background: pink;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
  }
  
  /* EDUCATION */
  .pricing {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px;
  }
  
  .institution {
    background: #111;
    color: white;
    padding: 30px;
    width: 260px;
    border-radius: 18px;
    text-align: center;
  }
  
  .institution.highlight {
    background: pink;
    color: black;
  }
  
  /* GOALS */
  .goals {
    background: pink;
    padding: 80px;
  }

  .goals h2 {
    text-align: center;
  }

  .goals p {
    text-align: left;
  }

  /*CONTACT*/
  .contact {
    padding: 80px;
    text-align: center;
  }
  
  /* FOOTER */
  footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
  }
  